body {
    overflow: hidden;
}

div {
    position: absolute;
    overflow: visible;
    color: #000000;
    -webkit-transition: all 7s;
    -moz-transition: all 7s;
    -ms-transition: all 7s;
    transition: all 7s;
}

span {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
